<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Add Department</title>
  </head>
  <body>
    <form action="http://localhost:5000/home/adddepartment" method="POST">
      <h3>Department Name</h3>
      <input type="text" name="name" /><br />

      Department Location ID <br />
      <input type="number" name="location" /><br />


      <input type="submit" name="submit" /><br />
    </form>
  </body>
</html>
